body {
  background-color: DarkGrey;
}

#calcDisplay {
  width: 292px;
  height: 30px;
  padding: 2px;
  background-color: White;
  color: Black;
  text-align: right;
}

button {
  margin: 7px;
  width: 60px;
  height: 30px;
}
